@charset "utf-8";
/* CSS Document */

#slideShow {
	position:relative;
	height:450px;
	line-height:450px;
}

#slideShowBox {
	margin:0 auto;
	width:1250px;
	height:400px;
	overflow:hidden;
}

#slidePanel {
	position:relative;
	width:5000px;
	height:400px;
}

.slideImage {
	float:left;
	width:1250px;
	height:400px;
}

#prevNextButtonBox { position:relative; }
#prevButton { position:absolute; top:200px; left:100px; }
#nextButton { position:absolute; top:200px; right:100px; }

#controlPanel {
	margin:0 auto;
	width:128px;
}

#controlPanel img {
	float:left;
	margin:10px;
}


#content {
	width:1250px;
	height:200px;
	margin:0 auto;
}

#content ul {
	list-style:none;
}

#content ul li {
	margin-bottom:4px;
}

#content a {
	color:#000;
	text-decoration:none;
}

#content .title {
	width:400px;
	height:30px;
	margin-bottom:20px;
	float:left;
	font-size:22px;
	font-weight:bold;
	clear:both;
}

#content .notice {
	width:400px;
	height:200px;
	float:left;
	font-size:18px;
	margin-right:25px;
}

#content .notice ul li a:hover {
	color:#6fa168;
}


#content .cscenter {
	width:400px;
	height:200px;
	float:left;
	font-size:18px;
	margin-right:25px;
}

#content .cscenter .title {
	margin-bottom:30px;
}

#content .cscenter .tel {
	font-size:22px;
	margin-bottom:14px;
}

#content .cscenter .time {
	font-size:17px;
}


#content .sns {
	width:400px;
	height:200px;
	float:right;
}
